body {
    background-color: #F0F0F0;
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}
h1 {
    color: #3E3E3E;
    padding-bottom: 5%;
}
h2, p {
    color: #3E3E3E;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;  
    transition: 0.5s;
}
a:hover {
    opacity: 0.7;
}
.privacy_card {
    width: 85%;
    background-color: #fff;
    margin: 3% auto;
    padding: 3%;
}


footer {
    background-color: #3E3E3E;
    color: white;
    padding-bottom: 3%;
    img {
        width: 300px;
    }
    a {
        color: white;
        opacity: 0.7;
    }
    a:hover {
        text-decoration: underline;
    }
}
.footer_wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}
.footer_detail {
    p {
        color: white;
        opacity: 0.7;
    }
}
.footer_menu {
    padding-top: 14px;
}
.footer_menu1, .footer_menu2 {
    display: flex;
    li {
        padding: 0 10px;
    }
}
.copyright {
    width: 200px;
    opacity: 0.7;
    padding: 0 5%;
}

// スマホサイズ
@media screen and (max-width: 480px) {
// フォント
h1 {
    width: 90%;
    font-size: 24px;
}
h2 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

// フッター
footer {
    background-color: #3E3E3E;
    color: white;
    padding-bottom: 3%;
    img {
        width: 200px;
    }
}
.footer_wrap {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
}
.footer_detail {
    p {
        margin: 0;
        padding: 3px 0;
    }
}
.footer_menu {
    padding-top: 0px;
}
.footer_menu1, .footer_menu2 {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px 0;
    li {
        padding: 3px 0;
    }
}

}