// フォント
h1 {
    color: white;
    font-size: 36px;
}
h2 {
    font-size: 30px;
    text-align: center;
    padding-top: 5%;
    margin: 0;
}
h3 {
    color: #222222;
    font-size: 24px;
}
h4 {
    text-align: center;
}
p {
    color: #222222;
    font-size: 16px;
}
// ヘッダー
header {
    height: 60PX;
}
.header_wrap {
    height: 60px;
}
.header_logo {
    padding-left: 4%;
    img {
        height: 60px;
    }
}
.header_menu {
    display: flex;
    line-height: 60px;
    li {
        height: 60px;
        a {
        padding:0 10px;
        }
    }
}
.fa-envelope {
    padding: 5px;
}

// メインビジュアル
.main_visual {
    height: 500px;
    padding-top: 100px;
    margin-top: 60px;
    p {
        color: white;
    }
}

// ３つのポイント
.three_points {
    img {
        width: 200px;
    }
}
.point_card {
    width: 200px;
}

// サービス紹介
.service {
    padding-bottom: 5%;
    img {
        width: 240px;
    }
}
.service_card {
    width: 240px;
    h3 {
        text-align: left;
    }
}
.contact_btn {
    a {
        width: 300px;
    }
}

// 制作実績
.works_wrap {
    width: 1000px;
    margin: 0 auto;
}
.works_cards{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0;
}
.works_card {
    width : calc(100% / 2) ;
    text-align: center;
    img {
        height: auto;
    }
    p {
        text-align-last: left;
    }
}

